@using ILIb1._1.ViewModels;
@model IEnumerable<LoanVM>



    @{
        ViewData["Title"] = "Loans";
    }


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Loan Id</th>
            <th scope="col">Loan Date</th>
            <th scope="col">Author</th>
            <th scope="col">Book Title</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    @{
        var i = 1;
    }
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@i</th>
                <td>@item.Loan.UserId</td>
                <td>@item.UserName</td>
                <td>@item.Loan.LoanId</td>
                <td>@item.Loan.LoanDate</td>
                <td>@item.Author.FullName</td>
                <td>@item.Book.Title</td>
                <td>@item.Book.BookCategory</td>
                
            </tr>
        </tbody>
        i++;
    }

</table>