@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Members";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">UserName</th>
            <th scope="col">Boorrowed Book Count</th>
            <th scope="col">Fine $</th>
        </tr>
    </thead>
    @{
        var i = 1;
    }
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@i</th>
                <td>@item.Id</td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.BorrowedBookCount</td>
                <td>@item.Fines</td>
                
            </tr>
        </tbody>
        i++;
    }            
    
</table>